{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["className"],
  "tailwindPreserveWhitespace": false,
  "tailwindStylesheet": "./src/index.css",
  "tailwindFunctions": ["clsx"]
}
